parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures
        - tests/Unit/DirectProcessNodeCoverageTest.php
    treatPhpDocTypesAsCertain: false

includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
