# Local environment
.env
.env.dev
.env.local
.env.*.local
/.env.local
/.env.local.php
/.env.*.local

/vendor/
/public/bundles/
/var/
/.phpunit.cache/
/.phpunit.result.cache
/phpunit.xml
/coverage/
/coverage.xml
composer.lock
symfony.lock

# Archives
*.zip
*.tar
*.tar.gz
*.tgz
*.rar
*.7z

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
