<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         failOnRisky="false"
         failOnWarning="false">
    <php>
        <server name="KERNEL_CLASS" value="App\Kernel" force="true"/>
        <server name="APP_ENV" value="test" force="true"/>
        <env name="FRANKENPHP_MODE" value="worker"/>
        <!-- REQ-SF-005: fail on direct Symfony deprecations -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[direct]=0"/>

        <!-- ###+ symfony/framework-bundle ### -->
        <env name="APP_ENV" value="dev"/>
        <env name="APP_SECRET" value=""/>
        <env name="APP_SHARE_DIR" value="var/share"/>
        <!-- ###- symfony/framework-bundle ### -->
    </php>
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
